@import url('https://fonts.googleapis.com/css2?family=Finlandica&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.main-header{
    background: url(./cv-images/bake.jpg)no-repeat;
    background-size: cover;
}
.header{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 0.25rem 0rem;
    position: fixed;
    width: 100%;
    z-index: 10000;
    background-color: #00000029;
    align-items: center;
}
.logo{
    line-height: 0;
}
.logo img{
    width: 100%;
}
.header ul{
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.header ul li{
    padding: 0rem 2rem;
    list-style: none;
}
.header ul li a{
    font-family: 'Finlandica', sans-serif;
    padding: 5px 5px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: sans-serif;
}
.header ul li a:hover{
    color: black;                   
}
.header-text{
    padding: 15rem 12rem;
    text-align: center;
}
.header-text h1{   
    color: white;
    margin-bottom: 1rem;
    font-size: 51px;
    font-weight: bolder;
    font-family: sans-serif;
}
.header-text p{
    color: white;
    padding: 0rem 8rem;
    font-size: 16px;
    font-family: sans-serif;
    line-height: 20px;
}
.makeCv{
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 5px;
    background-color: black;
}
.makeCv-text{
    width: 60%;
    padding: 29px 4px;
}
.makeCv-text h1{
    font-size: 27px;
    padding: 0px 10px;
    margin-bottom: 5px;
    color: white;
    font-family: sans-serif;
}
.makeCv-text p{
    font-size: 16px;
    padding: 0px 10px;
    margin-bottom: 35px;
    color: white;
    font-family: sans-serif;
}
.makeCv-text a{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 8px 10px;
    margin-left: 10px;
    font-family: sans-serif;
    font-size: 14px;
    border-radius: 5px;
}
.makeCv-text a:hover{
    color: white;
    background-color: black;
    border: 2px solid white;
}
.cv-design{
    width: 40%;
}
.cv-design img{
    width: 100%;
}
.cv-images{
    width: 100%;
}
.cv-images img{
    width: 100%;
}
.footer-box{
    display: flex;
    justify-content: center;
}
.quick-id{
    width: 50%;
    background-color: #2E4975;
}
.contact{
    width: 50%;
    background-color: #BBC8DD;
}
.quick-box {
    padding: 4rem 0rem 3rem 12rem;
}
.quick-box h1 {
    color: white;
    margin-bottom: 1rem;
    border-bottom: 5px solid;
    width: 154px;
    line-height: 46px;
    font-size: 35px;
    font-family: monospace;
}
.quick-box p{
    color: white;
    margin-bottom: 25px;
    font-family: system-ui;
}
.quick-box p span {
    display: inline-block;
    width: 80px;
    color: white;
}
.contact-box{
    padding: 4rem 0rem 3rem 1rem;
    display: grid;
}
.contact-inp-1{
    width: 152px;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #757575;
    color: #757575;
    padding: 5px 185px 0px 0px;
    margin-bottom: 5px;
}
.contact-box a{
    text-decoration: none;
    color: #757575;
    font-size: large;
    font-weight: bold;
    margin: 0rem 9rem;
}
.contact-box h1{
    color: white;
    margin-bottom: 1rem;
    border-bottom: 5px solid;
    width: 193px;
    line-height: 46px;
    font-size: 35px;
    font-family: monospace;
}
.float-inp input{
    background: none;
    color: #757575;
    border: none;
    border-bottom: 1px solid #757575;
    padding: 0px;
    margin-bottom: 10px;
    margin-right: 10px;
    outline: none;
}
.contact-inp-2{
    width: 152px;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #757575;
    color: #757575;
    padding: 5px 185px 60px 0px;
    margin-bottom: 5px;
}
.last-footer{
    padding: 1rem 0rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 5rem;
    border: 1px solid;
    border-radius: 17px;
}
.last-footer p{
    font-family: system-ui;
}
.icons i{
    padding: 0rem 0.5rem;
    font-size: 21px;
}
.toggle{
    width: 50px;
    height:50px;
    display: none;
}
.toggle img{
    width: 100%;
}
.menu{
    flex-basis: 100%;
    flex-grow: 1;
}
@media only screen and  (max-width: 768px){
    .header ul li {
        padding: 0rem 1rem;
        list-style: none;
    }
    .header-text {
        padding: 8rem 3rem;
    }
    .header-text h1 {
        font-size: 23px;
    }
    .header-text p {
        font-size: 13px;
        padding: 0rem 5rem;
    }
    .makeCv-text {
        padding: 13px 4px;
    }
    .makeCv-text h1 {
        font-size: 15px;
    }
    .makeCv-text p {
        font-size: 12px;
        margin-bottom: 18px;
    }
    .makeCv-text a {
        padding: 5px 4px;
        margin-left: 10px;
        font-size: 12px;
    }
    .quick-box {
        padding: 4rem 0rem 3rem 3rem;
    }
    #menuItems{
        display: none;
    }
    .menu{
        flex-basis: 100%;
        flex-grow: 1;
    }
    .toggle{
        display: block;
    }
    .header{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .header ul {
        flex-direction: column;
    }
    .header ul li a{
        font-size: 12px;
    }
} 
@media only screen and  (max-width: 425px){
    .header-text {
        padding: 4rem 0rem;
    }
    .header-text h1 {
        font-size: 18px;
        margin-bottom: 0.5rem;
    }
    .header-text p {
        font-size: 12px;
        padding: 0rem 1rem;
    }    
    .makeCv{
      margin: auto;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    .makeCv-text {
        padding: 4px;
    }
    .makeCv-text h1 {
        font-size: 8px;
        margin-bottom: 3px;
        padding: 0px 0px 0px 10px;
    }
    .makeCv-text p {
        font-size: 7px;
        margin-bottom: 2px;
    }
    .makeCv-text a {
        padding: 3px 3px;
        margin-left: 10px;
        font-size: 5px;
    }
    .footer-box{
        flex-wrap: wrap;
    }
    .quick-id {
        width: 100%;
    }
    .quick-box {
        padding: 1rem;
    }
    .quick-box h1{
        width: 110px;
        line-height: 32px;
        font-size: 25px;
    }
    .quick-box p {
        margin-bottom: 7px;
        font-size: 12px;
    }
    .quick-box p span {
        width: 64px;
        font-size: 14px;
    }
    .contact{
        width: 100%;
    }
    .contact-box {
        padding: 1rem;
        display: grid;
    }
    .contact-box h1{
        width: 138px;
        line-height: 23px;
        font-size: 25px;
    }
    .contact-inp-1 {
        padding: 0px;
        margin-bottom: 10px;
    }
    .contact-box a{
        margin: auto;
    }
    .last-footer {
        padding: 0.25rem 0rem;
        margin: 1rem 1rem;
     }
     .last-footer p {
        font-size: 9px;
    }
    .icons i {
        padding: 0rem 0.25rem;
        font-size: 18px;
    }
}
@media only screen and  (max-width: 375px){
    .header-text {
        padding: 4rem 0rem;
    }
    .header-text h1 {
        font-size: 18px;
        margin-bottom: 0.5rem;
    }
    .header-text p {
        font-size: 12px;
        padding: 0rem 1rem;
    }    
    .makeCv{
      margin: auto;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    .makeCv-text {
        padding: 2px 4px;
    }
    .makeCv-text h1 {
        font-size: 6px;
        margin-bottom: 3px;
        padding: 0px 0px 0px 1px;
    }
    .makeCv-text p {
        font-size: 6px;
        margin-bottom: 0px;
    }
    .makeCv-text a {
        padding: 3px 3px;
        margin-left: 1px;
        font-size: 5px;
    }
    .footer-box{
        flex-wrap: wrap;
    }
    .quick-id {
        width: 100%;
    }
    .quick-box {
        padding: 1rem;
    }
    .quick-box h1{
        width: 110px;
        line-height: 32px;
        font-size: 25px;
    }
    .quick-box p {
        margin-bottom: 7px;
        font-size: 12px;
    }
    .quick-box p span {
        width: 64px;
        font-size: 14px;
    }
    .contact{
        width: 100%;
    }
    .contact-box {
        padding: 1rem;
        display: grid;
    }
    .contact-box h1{
        width: 138px;
        line-height: 23px;
        font-size: 25px;
    }
    .contact-inp-1 {
        padding: 0px;
        margin-bottom: 10px;
    }
    .contact-box a{
        margin: auto;
    }
    .last-footer {
        padding: 0.25rem 0rem;
        margin: 1rem 1rem;
     }
     .last-footer p {
        font-size: 9px;
    }
    .icons i {
        padding: 0rem 0.25rem;
        font-size: 18px;
    }
}

@media only screen and  (max-width: 320px){
    .header-text {
        padding: 4rem 0rem;
    }
    .header-text h1 {
        font-size: 18px;
        margin-bottom: 0.5rem;
    }
    .header-text p {
        font-size: 12px;
        padding: 0rem 1rem;
    }    
    .makeCv{
      margin: auto;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    .makeCv-text {
        padding: 2px 4px;
    }
    .makeCv-text h1 {
        font-size: 6px;
        margin-bottom: 3px;
        padding: 0px 0px 0px 1px;
    }
    .makeCv-text p {
        font-size: 6px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 1px;
    }
    .makeCv-text a {
        padding: 3px 3px;
        margin-left: 1px;
        font-size: 5px;
    }
    .footer-box{
        flex-wrap: wrap;
    }
    .quick-id {
        width: 100%;
    }
    .quick-box {
        padding: 1rem;
    }
    .quick-box h1{
        width: 110px;
        line-height: 32px;
        font-size: 25px;
    }
    .quick-box p {
        margin-bottom: 7px;
        font-size: 12px;
    }
    .quick-box p span {
        width: 64px;
        font-size: 14px;
    }
    .contact{
        width: 100%;
    }
    .contact-box {
        padding: 1rem;
        display: grid;
    }
    .contact-box h1{
        width: 138px;
        line-height: 23px;
        font-size: 25px;
    }
    .contact-inp-1 {
        padding: 0px;
        margin-bottom: 10px;
    }
    .contact-inp-2 {
        padding: 0px;
        margin-bottom: 10px;
    }
    .contact-box a{
        margin: auto;
    }
    .last-footer {
        padding: 0.25rem 0rem;
        margin: 1rem 1rem;
     }
     .last-footer p {
        font-size: 9px;
    }
    .icons i {
        padding: 0rem 0.25rem;
        font-size: 18px;
    }
}